<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <groups>
  <run>
  </run>
  </groups>
    <classes>
      <class name="com.User.GetProfile"/>
      <class name="com.User.UpdatePreferences"/>
      <class name="com.User.GetOtherUserProfile"/>
      <class name="com.User.FollowUser"/>
      <class name="com.User.GetBankDetails"/>
      <class name="com.User.GetUsersFollowingMe"/>
      <class name="com.User.UserLoginTest"/>
      <class name="com.User.UpdateProfileImage"/>
      <class name="com.User.UnfollowUser"/>
      <class name="com.User.UserApiTests"/>
      <class name="com.User.UpdateProfile"/>
      <class name="com.User.DeleteBankDetails"/>
      <class name="com.User.UpdateUpiDetails"/>
      <class name="com.User.VerifyOTP"/>
      <class name="com.User.DeleteUpiDetails"/>
      <class name="com.User.GetPreferences"/>
      <class name="com.User.UpdateBankDetails"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
